/server/PortablePython-3.8.2x64/App/
/server/PortablePython-3.8.2x64/Console-Launcher.exe
/server/PortablePython-3.8.2x64/how to use PIP.txt
/server/PortablePython-3.8.2x64/IDLE-Launcher.exe
/server/PortablePython-3.8.2x64/License.txt
/server/PortablePython-3.8.2x64/PyScripter-Launcher.exe
/server/PortablePython-3.8.2x64/Python-Launcher.exe
/server/PortablePython-3.8.2x64/PythonW-Launcher64.exe
/server/PortablePython-3.8.2x64/Readme.txt
